.cart-page{

    width: 90%;
    margin: 8% auto;
    margin-bottom: 0%;


    .woocommerce{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .woocommerce-cart-form{
            width: 100%;
            @include pcandtb{
                width: 70%;
            }
        }

        .attachment-woocommerce_thumbnail{
                width: 139px;
        }

  

        .cart-collaterals{
            width: 100%;
            @include pcandtb{
                width: 30%;
            }

            .cart_totals {
                width: 70%;

                @include sp{
                width: 100%;

                }
            }
        }
    }




}