.checkout-page{
    width: 90%;
    margin: 8% auto;
    margin-bottom: 0%;

    .woocommerce-checkout{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        #pi_checkout_field{
            width: 100%;
        }
    }

    h3{
        display: none;
    }

    .col-1{
        width: 100%!important;

        @include pcandtb{
        width: 80%!important;

        }
    }

    .woocommerce-checkout-review-order{
        margin-top: 10%;
        width: 100%;
        padding: 5%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 13px;
        @include pcandtb{
            width: 50%;
        }
    }


.col2-set{
    width: 100%;
    display: flex;
    flex-direction: column;
    @include pcandtb{
        width: 50%;

    }
}





}
    .woocommerce-info{
        background-color: transparent;
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        border-top: 3px solid $mediumgrey!important;
        border-bottom: 3px solid $mediumgrey!important;
        list-style: none outside;
        width: auto;
        word-wrap: break-word;
        color: $mediumgrey;
    
        a{
            color: $mediumgrey!important;
            background: $grey!important;
        }
    }

    .alt{
        font-size: 3rem;
        background: #b5b4b2!important;
        color: #76736c!important;
    }

    .woocommerce-notices-wrapper{
        width: 100%;
    }

    .woocommerce-NoticeGroup-checkout{
        width: 100%;
    }