/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: #ccc #bbb #aaa;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}


.menu-toggle{
	border: unset;
	border-color: none;
	border-radius: 0px;
	background: transparent;
	box-shadow: none;
	color: $darkgrey;
	line-height: 1;
	padding: 0;
	text-shadow: none;
	margin-left: 15px;
	font-size: 1.3rem;
}

.wpcf7{
	width: 90%;
	margin: auto;

	@include pcandtb{
	width: 70%;

	}
}

.wpcf7-form{

	input{
		padding: 3%;
		width: 100%;;
		background: transparent;
		border-radius: 2px;
		border: solid 1px $grey;
		margin: 2%;

	}
	textarea{
		padding: 3%;
		width: 100%;
		height: 98px;
		background: transparent;
		border-radius: 2px;
		border: solid 1px $grey;
		margin: 2%;

	}

	.wpcf7-submit{
		background: $grey;
		color: $darkgrey;
		box-shadow: unset;
		text-shadow: unset;
	}

	.wpcf7-form-control-wrap {
		width: 100%;
	}
	
	h3{
		@include reset
		text-align: start;
	}
}