
.site-header{
background-color: $darkgrey;
padding: .5% 5%;
@include flex-row;
width: 100%;
align-items: center;
justify-content: space-between;
top: 0;
z-index: 9999999!important;
background: $white; 
position: fixed;
@include pcandtb{

}

.fas:before {
   
    font-size: 35px;
}
ul{
    @include reset;
}


.logo-header{
    width: 100px;
}

.menu-main-navigation-container{
   display: none;
    width: 100%;
    @include pcandtb{
        display: unset;
        width: 80%;

    }
}

.menu{
    @include flex-column;

    @include pcandtb{
        @include flex-row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }


    li {
        border-right: 1px solid $darkgrey!important;
        line-height: 2;
         padding: 0 0.5rem!important;

         @include sp{
            border-right: none!important;
            line-height: 3;
            border-bottom: 1px solid $darkgrey!important;

         }
    
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    }

    a{
        margin: 0 25px;
        text-decoration: none;
        text-transform: uppercase;
    }
}



.buttons-header{
    @include flex-row;
    


    @include pcandtb{
        order: 3;
    }

}
.cart{
    position: relative;
    display: flex;
    align-items: center;
    color: $mediumgrey;



    .cart-number{
        position: absolute;
        left: 32px;
        top: -1px;
        height: 25px;
        width: 25px;
        background: red;
        color: #e6e4e1;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        font-size: 1rem;
        @include pcandtb{
            left: 27px;
            top: -8px;
        }
    }
}

.current_page_item{
    color: $white;
}

.logo-header{
    img{   
        height: 60px;
    }
}

.cart{
    img{   
        height: 40px;
    }   
}
}

.site-header{
    text-transform: uppercase;
}

.social-media-container{
    
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 18px;
    top: 40vh;
    font-size: 26px;
    a{
        color: $red;
    }
    @include sp{
        position: unset;
        font-size: 26px;
        .Business-info-class{
            display: flex;
            flex-direction: row;
            justify-content: center;
            div{
                margin: 0% 5% ;
            }
        }
        
    }
}

