/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

        .products{

            @include reset;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
           
         
            .product{
                box-shadow: $overlay;
                width: 46%!important;
                position: relative;
                background: $white;
                margin: 2%!important;
                @include pcandtb{
                    width: 30%!important;
                    margin: 1.5%!important;
                }
                .add_to_cart_button{
                    display: none;
                }

                h2{
                    @include title-product;
                }

                .size-woocommerce_thumbnail{
                  
                    height: 231px!important;

                    @include pcandtb{
                       
                        height: 362px!important;
                    }
                }

                .add-cart{
                    display: none;    
                    position: absolute;
                   width: 100%;
                   height: 100%;
                   bottom: 0;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   background-color: rgba(0, 0, 0, 0.16);
                   p{
                       @include reset;
                       width: 50%;
                        text-align: center;
                        color: $white;
                
                   }

                   p:hover{
                    color: $white!important;

                   }
                    img{
                        width: 60px!important;
                    }

            }
                
            }
            .product-description{
                height: 120px;
                padding: 5% 2%;
                .woocommerce-loop-product__title{
                    margin: 0;
                    padding: 0;
                    padding: 2%;
                }
                p{
                    @include reset;
                    text-align: center;
                    margin: auto!important;
                    font-size: 0.7rem!important;
                    width: 80%;

                    @include pcandtb{
                        font-size: 0.9rem!important;
                        width: 60%;
                    }
                }

                p:hover{
                    color: $darkgrey!important;
                }

                img{
                    height: auto!important;
                }

            
            }

            
        }
    
        
