.product_page{

width: 90%;
margin: 15% auto;
margin-bottom: 0%;

.product-single{
    padding: 2%;
    border-radius: 16px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 2%!important;
}


    .price{
        span{

            display: none;
        }
       
    }


@include pcandtb{
    margin: 10% auto;

}

.entry-meta{
    display: none;
}

p.price{
    display: none;
}

select{ 
    @include input;
}

input{ 
    @include input;
}

select::after{
    content: "+";
}

td{
    vertical-align: sub!important;
    font-size: 1.5rem;
}

.variations{
    select{
        width: 90px;
    }

    .label{
        padding: 0px 0px!important;
    }
}

h1{
	font-family: $font_title;
	font-weight: 100;
	font-size: 3rem;
	background: url(../../assets/logo/tittle-back.svg) no-repeat;
	color: $grey;
    background-size: 83%;
    background-position-x: 46%;
    background-position-y: 20px;
	height: 89px;
	margin: 5% 0%;
    text-align: center;

	@include pcandtb{

		font-family: $font_title;
		font-weight: 100;
		font-size: 5rem;
		background: url(../../assets/logo/tittle-back.svg) no-repeat;
        background-size: 43%;
        background-position-x: 51%;
        background-position-y: -69%;
        height: 115px;
        margin: 2% 0%;
        
	}

}

.has-post-thumbnail{
    position: relative;
    .woocommerce-loop-product__title{
        top: 7%;
        right: 6%;
        position: absolute;
        font-family: $font_title;
        font-weight: 100;
        font-size: 3rem!important;
        line-height: 1;
        background: url(../../assets/logo/tittle-back.svg) no-repeat;
        color: $grey;
        background-size: 89%;
        background-position-x: 47%;
        background-position-y: 91%;
        text-align: center;
        width: 88%;
        height: 78%;
        background-color: rgba(0,0,0,.3);
    }
    .woocommerce-loop-product__title:hover{
        background-color: unset;

    }

    .add_to_cart_button{
        display: none;
    }
}

.woocommerce-breadcrumb{
    display: none;
}

img{
    border-radius: 16px;
}

.woocommerce-variation-add-to-cart{
    margin: 2% 0%;
}

.single_variation_wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    .amount{
        width: 100%;
        margin: 5% 0%;
        color: $mediumgrey;
        font-size: 1.5rem;
    }

    .amount:before{
        font-size: 1.4rem;

        font-weight: bold;
        content: 'Precio unidad: ';
    }

}

.woocommerce-variation-add-to-cart-enabled{
    display: flex;
    justify-content: center;
}


.single_add_to_cart_button{
    width: fit-content;
    height: 49.9px;
    border-radius: 8.5px;
    color: $darkgrey!important;
    background-color: $grey!important;
    font-family: $font_title;
    font-size: 1.3rem!important;

}

.botton-add{
    display: none!important;
}

.product_type_simple{
    display: none!important;
}

.title-product{
    p{
        display: none!important;

    }
}

.wc-tabs{
    li{
        a{
            font-family: $font_title;
            // font-size: 1.3rem!important;
        }

    }
}
.entry-summary{
    @include reset;
}
.product-type-variable {
.product-type-variable{



    .description_tab{
        background: none!important;
        border: none!important;
        padding: unset!important;
        margin: 0% 10%!important;
        font-size: 15px;
        
        @include pcandtb{
            display: none!important;
            font-size: 30px;
        }
    }
    .additional_information_tab{
        background: none!important;
        border: none!important;
        margin: 0% 10%!important;
        padding: unset!important;
        font-size: 15px;
        
        @include pcandtb{
            display: none!important;
            font-size: 30px;
        }
    }

    }
}

.breadcrumb{
    display: none;

}

.product_meta{
    display: none;
}
li{

    img {
        cursor: pointer;
        opacity: .5;
        padding: 6%;
    }
}

.botton-add{
    display: none;
}

.zoomImg{
    width: 100%;
}
   
}

.woocommerce-tabs{
    display: none;
}



.woocommerce-message{
    background-color: transparent;
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    border-top: 3px solid $mediumgrey!important;
    border-bottom: 3px solid $mediumgrey!important;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    color: $mediumgrey;

    a{
        color: $mediumgrey!important;
        background: $grey!important;
    }
}

.entry-titlet-phone{
    @include pcandtb{
    }
}

.computador{
    display: none;
}
.woocommerce-message::before {
    content: "\e015";
    color: $white;
}