/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


@import "../../assets/fonts/Handletterink/stylesheet.css";
@import "../../assets/fonts/Lato/stylesheet.css";
@import "../../assets/fonts/Kaushan/stylesheet.css";





body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p{
	font-family: $font__main;
	font-size: $text-size--pc!important;
	font-weight: normal;
	@include sp{
		font-size: $text-size--sp!important;
	}
}



h1 {
	font-family: $font__main;
	font-size: $heading-size--pc!important;
	font-weight: 600;
	margin: 0.67em 0;
	letter-spacing: .22px;
	@include sp{
		font-size: $heading-size--sp!important;
		line-height: 33px;
		letter-spacing: 0;
	}
}

h2{
	font-family: $font__main;
	font-size: $subtitle-size--pc!important;
	font-weight: 600;
	margin: 0.67em 0;
	letter-spacing: .22px;
	@include sp{
		font-size: $subtitle-size--sp!important;
		line-height: 33px;
		letter-spacing: 0;
	}
}





h3{
	font-size: $subtitle-size--pc!important;
	font-weight: normal;
	@include sp{
		font-size: $subtitle-size--sp!important;
	}
}